
body{

 background-color:white; 
 background-image: url(imagens/fundo_padrão.jpg);

}

#table1{

    background-color: white;


}

#table2{

    background-color: white;


}

#nav1{

    margin: 0 auto;
    height: 100px;
    text-align: center;

}

footer{

    margin: 0 auto;
    margin-top: 150px;

}

#restart{


    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 auto;
    float: left;
    border: 2px solid black;
    text-decoration: none;
    background-color: red;

}

#back{

    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 0 auto;
    float: right;
    border: 2px solid black;
    text-decoration: none;
    background-color: lime;

}

/*td img {
     
    width: 100%;
    height: 100%;
    
}*/